<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta http-equiv="X-Content-Type-Options" content="nosniff">
<meta http-equiv="X-Frame-Options" content="DENY">
<meta name="referrer" content="no-referrer">
<title>TEGetGo — Top Engine, Get Go</title>
<meta name="description" content="TEGetGo — Your go-to place for tech, gadgets, books, and game dev resources. Top picks from the get-go.">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700;900&family=Syne:wght@400;600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/Logo.png') }}">
<meta property="og:title" content="TEGetGo — Top Engine, Get Go">
<meta property="og:description" content="TEGetGo — Your go-to place for tech, gadgets, books, and game dev resources. Top picks from the get-go.">
<meta property="og:image" content="{{ url_for('static', filename='images/og_image.png') }}">
<meta property="og:url" content="https://onrender.com">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="{{ url_for('static', filename='images/Banner.png') }}">

<meta name="google-site-verification" content="8dQA8pkZ73gt3mBI4n18gmRR1yUYLq3mSghsCUxnXeY" />
