{% extends 'layout.html' %}
{% block content %}
    {% include "layouts/item.html" %}
{% endblock %}

{% block header %}
    {% include "assets/header.html" %}
{% endblock %}

<!-- LAYOUT SECTION (No props needed here, defaults to {}) -->
{% block layout_content %}
    <div class="react-target" data-folder="assets" data-file="content" data-component="nav"></div>
    <div class="react-target" data-folder="assets" data-file="content" data-component="hero"></div>
    <div class="react-target" data-folder="assets" data-file="content" data-component="marquee"></div>
{% endblock %}

{% block head %}
    {% include "layouts/head.html" %}
{% endblock %}

{% block js_script  %}
    {% include "layouts/js_script.html" %}
{% endblock %}
